# Example Environment Variables
# Copy this file to .env and fill in your actual values. Do NOT commit .env to version control.

# Dotenv format only (no `export`), so Bruin IDE extension can read this file.
# If you source this file in shell, to automatically export all variables use: set -a; source .env; set +a

# Variables used by Terraform
TF_VAR_project="chat-analysis-2026"
# Your active GCP Billing Account ID
TF_VAR_billing_account_id="XXX"
#
# no need to edit any further
#
# GCS bucket
TF_VAR_gcs_bucket_name="chat-analysis-2026_bucket"
# Bigquery dataset
TF_VAR_bq_dataset_name="chat_analysis_2026_dataset"  # replace hyphen with underscore for dataset name
# Google Service Account Name (Created by Terraform)
TF_VAR_sa_name="chat-analysis-2026_sa"

# used by python scripts
# NOTE: The Bruin extension requires hardcoded string values (no bash interpolation like ${TF_VAR_project})
PROJECT_ID="chat-analysis-2026"
GCS_BUCKET="chat-analysis-2026_bucket"

# to keep gcloud CLI informed
GOOGLE_CLOUD_PROJECT="chat-analysis-2026"
