# Example Environment Variables
# Copy this file to .env and fill in your actual values. Do NOT commit .env to version control.

# Your desired GCP Project ID (must be globally unique)
export PROJECT_ID="chat-analysis-2026"
export GOOGLE_CLOUD_PROJECT="${PROJECT_ID}"

# Your active GCP Billing Account ID
BILLING_ACCOUNT_ID="XXXXXX-XXXXXX-XXXXXX"

# Google Service Account
export SA_NAME=${PROJECT_ID}-sa

# place the downloaded credentials.json file in the repository root directory
export GOOGLE_APPLICATION_CREDENTIALS=".credentials.json"

export GCS_BUCKET="${PROJECT_ID}-chat-analysis-bucket"

# Terraform-specific variables
export TF_VAR_project="${PROJECT_ID}"
export TF_VAR_gcs_bucket_name="${GCS_BUCKET}"
export TF_VAR_bq_dataset_name="chat_analysis_dataset"