# Example Environment Variables
# Copy this file to .env and fill in your actual values. Do NOT commit .env to version control.

# Variables used by Terraform
export TF_VAR_project="chat-analysis-2026"
# Your active GCP Billing Account ID
export TF_VAR_billing_account_id="XXX"
#
# no need to edit any further
#
# GCS bucket
export TF_VAR_gcs_bucket_name="${TF_VAR_project}_bucket"
# Bigquery dataset
export TF_VAR_bq_dataset_name="${TF_VAR_project//-/_}_dataset"  # replace hyphen with underscore for dataset name
# Google Service Account Name (Created by Terraform)
export TF_VAR_sa_name="${TF_VAR_project}_sa"

# used by python scripts
export PROJECT_ID="${TF_VAR_project}"
export GCS_BUCKET="${TF_VAR_gcs_bucket_name}"

# to keep gclod CLI informed
export GOOGLE_CLOUD_PROJECT="${TF_VAR_project}"